<div class="artist-wrapper">
    <h3>
        {{name}}
    </h3>
    {{#text}}
        <p>
            {{text}}
        </p>
    {{/text}}
    {{#image}}
        <img src="images/{{image}}">
    {{/image}}
</div>
