@import 'colors.less';

@font-face {
    font-family: 'Take it easy';
    font-style: normal;
    font-weight: normal;
    src: url( 'assets/takeiteasy-webfont.woff2' ) format( 'woff2' ),
         url( 'assets/takeiteasy-webfont.woff' ) format( 'woff' );
}

@max-content-width: 1024px;
@section-margin: 60px;

body {
    font-family: 'Belleza', sans-serif;
    font-size: 18px;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    ul {
        display: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }

        a {
            color: #000000;
            padding: 5px;
            text-decoration: none;
        }
    }

    img {
        height: 30px;
        margin: 10px 0;
    }

    h1 {
        color: @logo-color;
        font-family: 'Take it easy', serif;
        font-size: 54px;
        margin: 0;
    }

    .date-wrapper {
        display: none;
    }
}

.header-image {
    background-image: url( 'images/background-head.jpg' );
    background-position: center;
    background-size: cover;
    height: 100px;
}

.section-wrapper {
    position: relative;

    & > h2 {
        font-size: 34px;
        font-weight: 500;
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;
    }

    &.date-wrapper {
        margin-bottom: @section-margin;
        margin-top: @section-margin;
        text-align: center;
        text-transform: uppercase;

        h2,
        h3 {
            font-size: 33px;
            font-weight: 300;
            margin: 0;
        }

        .large-icon {
            height: 150px;
            margin: 0 auto @section-margin auto;
            width: 150px;
        }
    }

    &.festivalen-wrapper {
        background-color: @main-color;
        color: #ffffff;
        padding: 20px;
        text-align: center;

        .content-wrapper {
            margin: 0 auto;
            max-width: @max-content-width;
        }
    }

    &.lineup-wrapper {
        background-image: url( 'images/background-lineup.jpg' );
        background-position: center;
        background-size: cover;
        color: #ffffff;
        padding: 40px 0;

        &:after {
            background-color: rgba( 0, 0, 0, 0.5 );
            bottom: 0;
            content: ' ';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        h2 {
            margin-bottom: @section-margin;
            position: relative;
            z-index: 1;
        }

        .content-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: -10px auto;
            max-width: @max-content-width;
            position: relative;
            z-index: 1;
        }

        .artist-wrapper {
            height: 320px;
            margin: 10px;
            overflow: hidden;
            position: relative;
            width: 320px;

            .artist-content-wrapper {
                padding: 10px;
                position: absolute;
                top: 280px;
                transform: translateZ(0);

                h3 {
                    font-size: 25px;
                    font-weight: 500;
                    line-height: 1;
                    margin: 0;
                    position: relative;
                    z-index: 1;
                }

                p {
                    position: relative;
                    z-index: 1;
                }

                a {
                    position: relative;
                    z-index: 1;

                    img {
                        height: 20px;
                        width: 20px;
                    }
                }

                .background-color-wrapper {
                    background-color: @artist-background-color;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 39px;
                }

                .background-header {
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: -53px;
                    width: 100%;
                }
            }

            .background-image {
                bottom: 0;
                left: 0;
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
        }
    }

    &.info-wrapper {
        margin-bottom: @section-margin;
        margin-top: @section-margin;

        h2 {
            margin-bottom: @section-margin;
        }

        .info-list {
            @content-padding: 20px;
            color: #ffffff;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            max-width: @max-content-width;
            padding: 0;

            li {
                list-style-type: none;
                margin-bottom: 15px;
                width: 100%;

                a {
                    color: #ffffff;
                }

                span {
                    background-color: @alternate-color;
                    display: block;
                    font-size: 24px;
                    padding: @content-padding;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }

                    svg {
                        display: block;
                        fill: #ffffff;
                        height: 24px;
                        position: absolute;
                        right: 10px;
                        top: e( 'calc( 50% - 12px )' );
                        width: 24px;
                    }
                }

                p {
                    background-color: @main-color;
                    display: none;
                    line-height: 1.5;
                    margin: 0;
                    padding: @content-padding;
                }
            }
        }
    }

    &.booking-wrapper {
        background-color: @main-color;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;

        a {
            color: inherit;
            font-size: 30px;
            line-height: 3.5;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.kontakt-wrapper {
        @section-spacing: 20px;

        margin-bottom: @section-margin;
        margin-top: @section-margin;
        text-align: center;

        .column {
            flex-grow: 1;
            margin-bottom: 35px;
        }

        .subheader {
            font-weight: 700;
            text-transform: uppercase;

            &:nth-child( 1n + 1 ) {
                margin-top: 10px;
            }
        }

        a {
            display: block;
            text-decoration: none;
            text-transform: uppercase;

            &:active,
            &:visited {
                color: inherit;
            }
        }

        .footer-icon {
            height: 150px;
            width: 150px;
        }

        .follow-column {
            line-height: 1.3;
        }
    }
}

@import '640.less';
@import '768.less';
@import '1024.less';
@import '1100.less';
